body {
  background-color: whitesmoke !important;
}

.navbar {
  background-color: rgba(161, 0, 0, 0.9);
  color: white !important;
  padding: 1rem !important;
}

.navbar-text {
  margin-right: 2rem !important;
  color: white !important;
}

.logo_navbar {
  font-family: 'Bebas Neue', cursive !important;
  font-size: 4rem !important;
  margin-left: 2rem !important;
  color: white !important;
} 